<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>西四北头条</string>
		<key>lat</key>
		<string>39.925647</string>
		<key>lon</key>
		<string>116.369383</string>
		<key>signin</key>
		<string>1251</string>
		<key>praise</key>
		<string>586</string>
		<key>relationships</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>西四北二条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>西四北三条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name</key>
				<string>西四北四条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name</key>
				<string>西四北五条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>name</key>
				<string>西四北六条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>name</key>
				<string>西四北七条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>name</key>
				<string>西四北八条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>name</key>
				<string>阜成门内大街</string>
			</dict>
		</array>
		<key>biaoqian</key>
		<array>
			<string>和珅</string>
			<string>广济寺</string>
			<string>帝王庙</string>
		</array>
		<key>Audios</key>
		<array>
			<string>西四北头条</string>
			<string>暖男和珅</string>
			<string>广济寺和帝王庙</string>
			<string>西四院子的官气</string>
			<string>陈三立绝食而死</string>
		</array>
		<key>images</key>
		<array>
			<string>0_img1.jpg</string>
			<string>0_img2.jpg</string>
			<string>0_img3.JPG</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>西四北二条</string>
		<key>lat</key>
		<string>39.926334</string>
		<key>lon</key>
		<string>116.369507</string>
		<key>signin</key>
		<string>1233</string>
		<key>praise</key>
		<string>487</string>
		<key>relationships</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>西四北头条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>西四北三条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name</key>
				<string>西四北四条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name</key>
				<string>西四北五条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>name</key>
				<string>西四北六条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>name</key>
				<string>西四北七条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>name</key>
				<string>西四北八条</string>
			</dict>
		</array>
		<key>biaoqian</key>
		<array>
			<string>西帅府</string>
			<string>鄂尔泰</string>
			<string>明武宗</string>
		</array>
		<key>Audios</key>
		<array>
			<string>西四北二条</string>
		</array>
		<key>images</key>
		<array>
			<string>1_img1.JPG</string>
			<string>1_img2.JPG</string>
			<string>1_img3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>西四北三条</string>
		<key>lat</key>
		<string>39.927785</string>
		<key>lon</key>
		<string>116.37151</string>
		<key>signin</key>
		<string>1378</string>
		<key>praise</key>
		<string>499</string>
		<key>relationships</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>西四北头条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>西四北二条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name</key>
				<string>西四北四条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name</key>
				<string>西四北五条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>name</key>
				<string>西四北六条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>name</key>
				<string>西四北七条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>name</key>
				<string>西四北八条</string>
			</dict>
		</array>
		<key>biaoqian</key>
		<array>
			<string>程砚秋</string>
			<string>四合院</string>
		</array>
		<key>Audios</key>
		<array>
			<string>西四北三条</string>
		</array>
		<key>images</key>
		<array>
			<string>2_img1.jpg</string>
			<string>2_img2.jpg</string>
			<string>2_img3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>西四北四条</string>
		<key>lat</key>
		<string>39.928462</string>
		<key>lon</key>
		<string>116.369845</string>
		<key>signin</key>
		<string>1421</string>
		<key>praise</key>
		<string>567</string>
		<key>relationships</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>西四北二条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>西四北三条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>西四北头条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name</key>
				<string>西四北五条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>name</key>
				<string>西四北六条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>name</key>
				<string>西四北七条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>name</key>
				<string>西四北八条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>name</key>
				<string>阜成门内大街</string>
			</dict>
		</array>
		<key>biaoqian</key>
		<array>
			<string>臭皮胡同</string>
			<string>正红旗官学</string>
			<string>王蒙</string>
		</array>
		<key>Audios</key>
		<array>
			<string>西四北四条</string>
		</array>
		<key>images</key>
		<array>
			<string>3_img1.jpg</string>
			<string>3_img2.jpg</string>
			<string>3_img3.JPG</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>西四北五条</string>
		<key>lat</key>
		<string>39.929194</string>
		<key>lon</key>
		<string>116.369918</string>
		<key>signin</key>
		<string>1323</string>
		<key>praise</key>
		<string>586</string>
		<key>relationships</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>西四北二条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>西四北三条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name</key>
				<string>西四北四条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>西四北头条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>name</key>
				<string>西四北六条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>name</key>
				<string>西四北七条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>name</key>
				<string>西四北八条</string>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>name</key>
				<string>阜成门内大街</string>
			</dict>
		</array>
		<key>biaoqian</key>
		<array>
			<string>藏园</string>
			<string>傅增湘</string>
			<string>双鉴楼</string>
			<string>张宗昌</string>
		</array>
		<key>Audios</key>
		<array>
			<string>西四北五条</string>
		</array>
		<key>images</key>
		<array>
			<string>4_img1.jpg</string>
			<string>4_img2.jpg</string>
			<string>4_img3.jpg</string>
		</array>
	</dict>
</array>
</plist>
